<div class="container my-5">
  <div class="card m-1">
    <div class="card-body bg-light">
      <div class="text-center">
        <h1>Edit a Flat</h1>
      </div>
      <%= render 'form', flat: @flat%>
    </div>
  </div>
</div>
